body {
        background-image: linear-gradient(to right, #e1ad01 , #fad506);

}
.form-control{
  padding :0
}
.form-group{
  margin-bottom: 0.25rem !important;
}
 
label {
    display: inline-block;
    margin-bottom: 0.1rem !important;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}
/* .btn{
  padding : 0.1rem 0.25rem !important ;
} */
